<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload file</title>
</head>
<body>
  <h1>Page to upload a file from your computer.</h1>
  <div>
      <form action="/file" method="post" enctype="multipart/form-data">
          <input type="submit" value="Upload file">
          <input type="submit" value="Upload file">
      </form>
      <!--
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form> -->
      <!--<button type="button" class="btn btn-outline-primary" onclick="window.location='/file'">Upload file</button> -->
  </div>
</body>
</html>